<div class="section-padding tl-shop-section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-md-4">
                <app-shop-sidebar></app-shop-sidebar>
            </aside>
            <!-- /Sidebar -->
            <div class="col-md-8">
                <div class="shop-top-filter">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <form>
                                <div class="sort-select-filter">
                                    <select name="sorting" id="sorting-1">
                                        <option value="0">Default Sorting</option>
                                        <option value="1">A-Z Sorting</option>
                                        <option value="2">Z-A Sorting</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <select name="sorting" id="sorting-2">
                                <option value="0">1-6 Products</option>
                                <option value="1">6-16 Products</option>
                                <option value="2">16-25 Products</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-12 ">
                            <div class="shop-view">
                                <p> showing all {{shopblock.length}} result</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Data -->
                    <div class="col-lg-4 col-md-6 col-sm-6"
                        *ngFor="let item of shopblock | paginate: { itemsPerPage: 9, currentPage: page }">
                        <div class="img-shop-wrapper tl-shop-single">
                            <div class="tl-img-shop">
                                <img [src]="item.image[0]" [alt]="item.title" class="mx-auto image-fluid d-block">
                            </div>
                            <div class="tl-product-content">
                                <h4><a routerLink="/shop-details/{{item.id}}">{{item.title}}</a></h4>
                                <p>${{item.price | number:'1.2-2'}}</p>
                                <!-- Cart -->
                                <a href="javascript:void(0)" class="btn btn-sm" (click)="handleAddToCart(item)"
                                    *ngIf="item.stock">Add To Cart</a>
                                <a href="javascript:void(0)" class="btn btn-sm" *ngIf="!item.stock"
                                    (click)="handleOutofStock()">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <!-- Data -->
                    <!-- /Pagination /-->
                    <div class="col-lg-12">
                        <div class="pagination_wrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Page 1 of 2</p>
                                </div>
                                <div class="col-sm-6">
                                    <pagination-controls (pageChange)="page = $event" responsive="true"
                                        previousLabel="<" nextLabel=">">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pagination-->
                </div>

            </div>
        </div>
    </div>
</div>