<section class="section-padding secondary-bg donation-img-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="section-header">
                    <h3>Support Our Mission</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some</p>
                </div>
                <p>We provide Buddhism and meditation resources. We try to make our classes relaxed, informal and
                    interactive, and relevant to ordinary people leading ordinary lives. You do not have to be a
                    Buddhist or become a Buddhist or anything else in order to attend our classes.</p>
                <div class="donation_form">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">$</span>
                                        </div>
                                        <input type="text" class="form-control w-auto mb-0" value="$100">
                                    </div>
                                    <ul class="select_amount">
                                        <li class="mb-0">$10.00</li>
                                        <li class="mb-0">$25.00</li>
                                        <li class="mb-0">$50.00</li>
                                        <li class="mb-0 active">$100.00</li>
                                        <li class="mb-0">$500.00</li>
                                    </ul>
                                    <input type="submit" class="btn dark-btn" value="Donate Now">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 align-self-center img-width-100">
                <img src="assets/images/home-page/img-2.jpg" alt="img" class="img-fluid">
            </div>
        </div>
    </div>
</section>