<app-header></app-header>
<app-banner></app-banner>
<section class="latest_event_sermons home-sermon">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <app-latest-sermon></app-latest-sermon>
            </div>
            <div class="col-md-6">
                <app-video></app-video>
            </div>
        </div>
    </div>
</section>
<app-about-text></app-about-text>
<app-quotes></app-quotes>
<section class="section-padding latest_event_sermons m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <app-recent-events></app-recent-events>
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-2">
                <app-recent-sermon></app-recent-sermon>
            </div>
        </div>
    </div>
</section>
<app-donation></app-donation>
<app-history></app-history>
<app-upcoming-event></app-upcoming-event>
<app-blogs></app-blogs>
<app-instagram></app-instagram>
<app-footer></app-footer>