<section class="section-padding p-0">
    <div class="container">
        <div class="section-header-center text-center">
            <h2>Instagram</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some</p>
        </div>
    </div>
    <ul class="hm-list hm-instagram">
        <!-- Data -->
        <li *ngFor="let item of instagram">
            <a href="#"><img [src]="item.image" alt="instagram"></a>
        </li>
        <!-- Data -->
    </ul>
</section>