<app-header></app-header>
<app-banner></app-banner>
<app-about-text></app-about-text>
<app-quotes></app-quotes>
<app-packages></app-packages>
<section class="section-padding latest_event_sermons right-sermon m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <app-recent-events></app-recent-events>
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-2">
                <app-recent-sermon></app-recent-sermon>
            </div>
        </div> 
    </div>
</section>
<app-history></app-history>
<app-blogs></app-blogs>
<app-instagram></app-instagram>
<app-footer></app-footer>